<h1>Login</h1>
<form class="col-md-6 offset-md-3" #form="ngForm" (ngSubmit)="onSubmit(form)">
    <div class="form-group mt-2">
        <label for="email">Email</label>
        <input 
            type="email" 
            name="email" 
            class="form-control" 
            id="email"
            #email="ngModel"
            [(ngModel)]="user.email"
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
            required
        >
        <small *ngIf="email.touched && !email.valid" class="invalid-feedback d-block">The email is invalid</small>
    </div>

    <div class="form-group mt-2">
        <label for="password">Password</label>
        <input 
            type="password" 
            name="password" 
            class="form-control" 
            id="password"
            #password="ngModel"
            [(ngModel)]="user.password"
            required
        >
        <small *ngIf="password.touched && !password.valid" class="invalid-feedback d-block">The password is invalid</small>
    </div>

    <div class="form-group mt-2">
        <input type="submit" class="btn btn-success" value="Login" [disabled]="form.invalid">
    </div>
</form>