<h1>Edit user</h1>
<form class="col-md-6 offset-md-3" #userEditForm="ngForm" (ngSubmit)="onSubmit(userEditForm)">
    <div class="form-group mt-2">
        <label for="name">Name</label>
        <input 
            type="text" 
            name="name" 
            class="form-control" 
            id="name" 
            #name="ngModel" 
            [(ngModel)]="user.name"
            pattern="[a-zA-Z]+"
            required
        >
        <small *ngIf="name.touched && !name.valid" class="invalid-feedback d-block">The name is invalid</small>
    </div>

    <div class="form-group mt-2">
        <label for="surname">Surname</label>
        <input 
            type="text" 
            name="surname" 
            class="form-control" 
            id="surname"
            #surname="ngModel"
            [(ngModel)]="user.surname"
            pattern="[a-zA-Z]+"
            required
        >
        <small *ngIf="surname.touched && !surname.valid" class="invalid-feedback d-block">The surname is invalid</small>
    </div>

    <div class="form-group mt-2">
        <label for="email">Email</label>
        <input 
            type="email" 
            name="email" 
            class="form-control" 
            id="email"
            #email="ngModel"
            [(ngModel)]="user.email"
            pattern="[^@\s]+@[^@\s]+\.[^@\s]+"
            required
        >
        <small *ngIf="email.touched && !email.valid" class="invalid-feedback d-block">The email is invalid</small>
    </div>

    <div class="form-group mt-2">
        <label for="description">Description</label>
        <input 
            type="text" 
            name="description" 
            class="form-control" 
            id="description"
            #description="ngModel"
            [(ngModel)]="user.description"
        >
        <small *ngIf="description.touched && !description.valid" class="invalid-feedback d-block">The description is invalid</small>
    </div>

    <div class="form-group mt-2">
        <label for="image">Image</label>
        <input 
            type="file" 
            name="image" 
            class="form-control" 
            id="image"
            #image="ngModel"
            [(ngModel)]="user.image"
        >
        <small *ngIf="image.touched && !image.valid" class="invalid-feedback d-block">The image is invalid</small>
    </div>

    <div class="form-group mt-2">
        <input type="submit" class="btn btn-success" value="Update" [disabled]="userEditForm.invalid">
    </div>
    
</form>